<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Uploaded projects list</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<th:block th:switch="${projects}">
        <h2 th:case="null">No projects yet!</h2>
        <div th:case="*" class="container">
            <h2>Projects</h2>
            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>User id</th>
                    <th>Task id</th>
                    <th>Validation result</th>
                    <th>Upload date</th>
                    <th>Source path</th>
                    <th>Execution out path</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="project : ${projects}">
                    <td th:text="${project.id}"></td>
                    <th:block th:switch="${project.user}">
                        <td th:case="null">NONE</td>
                        <td th:case="*" th:text="${project.user.id}"></td>
                    </th:block>
                    <th:block th:switch="${project.task}">
                        <td th:case="null">NONE</td>
                        <td th:case="*" th:text="${project.task.id}"></td>
                    </th:block>
                    <td th:text="${project.validationResult}"></td>
                    <td th:text="${project.uploadDate}"></td>
                    <td th:text="${project.sourcePath}"></td>
                    <td th:text="${project.executionOutPath}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</th:block>
</body>
</html>